<!DOCTYPE html>
<html>
<head>
  <title>Rcoffee</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><nav><%= link_to("Home",:controller => 'home', :action => 'index')%></nav><nav> Cart </nav><nav> Login </nav><nav> Sign Up </nav></header>
      <section class="round">
		<div id="container">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
		</div>
      </section>

<footer></footer>
</body>
</html>
