<!DOCTYPE html>
<html>
<head>
  <title>Rcoffee</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container" id="container">


  <div class="masthead">
        <h3 class="muted">Rcoffee</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><%= link_to("Home",:controller => 'home', :action => 'index')%></li>
                <li><a href="#">Cart</a></li>
                <li><%= link_to "Sign up", :controller => "users", :action => "new"%></li>
                <li><%= link_to "Login", :controller => "sessions", :action => "new"%></li>

               </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>

        <div class="footer">
         <p>&copy; Company 2013</p>
       </div>
    </div>

   </div>
</body>
</html>
